:root {
	/* Colors */
	--c-bleen: 188 100% 43%;
	--c-bleen-strong: 188 85% 33%;
	--c-flamingo: 345 100% 75%;
	--c-flamingo-strong: 345 85% 65%;
	--c-emerald: 145 54% 56%;
	--c-radical: 352 100% 65%;
	--c-noir: 0 0% 0%;
	--c-vulcan: 220 6% 10%;
	--c-shark: 240 4% 16%;
	--c-tuna: 225 5% 30%;
	--c-shuttle: 218 4% 40%;
	--c-jumbo: 218 2% 50%;
	--c-suit: 232 3% 60%;
	--c-bombay: 232 5% 70%;
	--c-iron: 240 6% 80%;
	--c-mercury: 240 10% 90%;
	--c-concrete: 240 14% 96%;
	--c-hint: 240 18% 98%;
	--c-blanc: 0 0% 100%;

	/* Radius */
	--r-x: 1000px;
	--r-24: 24px;
	--r-20: 20px;
	--r-14: 14px;
	--r-10: 10px;
	--r-6: 6px;

	/* Easing */
	--e-bounce: cubic-bezier(0, 0.5, 0.5, 1.5);
	--e-spring: linear(
		0 0%,
		0.003626 1%,
		0.014013 2%,
		0.030445 3%,
		0.052229 4%,
		0.0787 5%,
		0.109223 6%,
		0.143196 7.000000000000001%,
		0.180047 8%,
		0.219239 9%,
		0.260271 10%,
		0.302674 11%,
		0.346016 12%,
		0.389898 13%,
		0.433956 14.000000000000002%,
		0.477859 15%,
		0.521308 16%,
		0.564037 17%,
		0.605809 18%,
		0.646418 19%,
		0.685684 20%,
		0.723455 21%,
		0.759605 22%,
		0.794029 23%,
		0.826647 24%,
		0.857397 25%,
		0.886237 26%,
		0.913145 27%,
		0.938112 28.000000000000004%,
		0.961144 28.999999999999996%,
		0.982262 30%,
		1.001496 31%,
		1.018889 32%,
		1.034493 33%,
		1.048365 34%,
		1.060573 35%,
		1.071186 36%,
		1.080282 37%,
		1.08794 38%,
		1.094242 39%,
		1.099272 40%,
		1.103115 41%,
		1.105857 42%,
		1.107582 43%,
		1.108377 44%,
		1.108323 45%,
		1.107501 46%,
		1.10599 47%,
		1.103868 48%,
		1.101206 49%,
		1.098076 50%,
		1.094544 51%,
		1.090674 52%,
		1.086526 53%,
		1.082155 54%,
		1.077614 55.00000000000001%,
		1.072952 56.00000000000001%,
		1.068213 56.99999999999999%,
		1.063438 57.99999999999999%,
		1.058665 59%,
		1.053928 60%,
		1.049257 61%,
		1.04468 62%,
		1.040219 63%,
		1.035896 64%,
		1.031728 65%,
		1.02773 66%,
		1.023916 67%,
		1.020293 68%,
		1.016871 69%,
		1.013654 70%,
		1.010645 71%,
		1.007847 72%,
		1.00526 73%,
		1.002881 74%,
		1.000708 75%,
		0.998736 76%,
		0.996961 77%,
		0.995377 78%,
		0.993977 79%,
		0.992753 80%,
		0.991697 81%,
		0.9908 82%,
		0.990055 83%,
		0.989451 84%,
		0.988981 85%,
		0.988633 86%,
		0.9884 87%,
		0.988271 88%,
		0.988239 89%,
		0.988293 90%,
		0.988426 91%,
		0.988629 92%,
		0.988893 93%,
		0.989212 94%,
		0.989577 95%,
		0.989982 96%,
		0.99042 97%,
		0.990884 98%,
		0.991369 99%,
		0.99187 100%
	);

	/* Sizes */
	--s-gutter: 1rem;
	--s-gutter-large: 2rem;

	@media (--from-medium) {
		--s-gutter: 1.25rem;
		--s-gutter-large: 2.25rem;
	}

	@media (--from-large) {
		--s-gutter: 1.5rem;
		--s-gutter-large: 2.5rem;
	}

	/* Typography */
	--f-family: system-ui;
	--f-h1: fluid(2.5rem, 3rem) / 1.2 var(--f-family);
	--f-h2: fluid(2.25rem, 2.5rem) / 1.2 var(--f-family);
	--f-h3: fluid(2rem, 2.25rem) / 1.2 var(--f-family);
	--f-h4: fluid(1.75rem, 2rem) / 1.3 var(--f-family);
	--f-h5: fluid(1.5rem, 1.75rem) / 1.3 var(--f-family);
	--f-h6: fluid(1.25rem, 1.5rem) / 1.3 var(--f-family);
	--f-subhead: fluid(1.125rem, 1.25rem) / 1.3 var(--f-family);
	--f-body: fluid(1rem, 1.125rem) / 1.3 var(--f-family);
	--f-excerpt: fluid(0.875rem, 1rem) / 1.4 var(--f-family);
	--f-footnote: fluid(0.75rem, 0.875rem) / 1.4 var(--f-family);
	--f-caption: fluid(0.625rem, 0.75rem) / 1.4 var(--f-family);
	--f-small: fluid(0.5rem, 0.625rem) / 1.4 var(--f-family);
}
